! ===================
! urxvt configuration
! ===================

URxvt*scrollBar:	false
URxvt*letterSpace:  	-0.8
URxvt*font: 		xft:Menlo for Powerline:regular:size=12
URxvt*boldFont:		xft:Menlo for Powerline:bold:ize=12
URxvt*cursorBlink:  true
URxvt.iso14755:		false
URxvt*utf8:			true
URxvt.keysym.C-equal:         resize-font:bigger
URxvt.keysym.C-parenright:    resize-font:smaller
URxvt*depth: 32
URxvt*background: [90]#1F1F1F

! =================
! rofi color scheme
! =================
#define hl_text #1F1F1F
#define m_color #ffb52a

rofi.color-enabled:		true
rofi.separator-style: 	solid
rofi.color-normal:		argb:00000000, #a89984, argb:00000000,  m_color,  hl_text
rofi.color-urgent:		argb:00000000, #F99157, argb:00000000,  #F99157,  hl_text
rofi.color-active:		argb:00000000, #6699CC, argb:00000000,  #6699CC,  hl_text
rofi.color-window:		argb:ee222222, m_color, m_color
rofi.font: Roboto regular 12
rofi.bw:                0
rofi.padding:           10
rofi.hide-scrollbar:    true
rofi.lines:             6

! ============
!   Couleurs
! ============
*background: #1F1F1F
*foreground: #ccd0d9
*secondary:  #535172
*active:     #259E83
!black
*color0:     #434a54
*color8:     #656d7a
!red
*color1:     #db4453
*color9:     #ec5662
!green
*color2:     #8cc051
*color10:    #a0d468
!yellow
*color3:     #f6bb43
*color11:    #ffce55
!blue
*color4:     #4b89dc
*color12:    #5d9cec
!magenta
*color5:     #967bdc
*color13:    #ac92ed
!cyan
*color6:     #36bc9b
*color14:    #48cfae
!white
*color7:     #f6f7fb
*color15:    #e6e9ee